EBAY_CLIENT_ID=
EBAY_CLIENT_SECRET=
JUSTTCG_API_KEY=
JUSTTCG_IMPORT_SET=
JUSTTCG_IMPORT_NUMBER=
JUSTTCG_IMPORT_LIMIT=
EBAY_TEST_QUERY=
EBAY_IMPORT_CARD_SOURCE=
EBAY_IMPORT_CARD_NUMBER=
EBAY_IMPORT_CARD_SET=
EBAY_IMPORT_LIMIT=
EBAY_DELETION_VERIFICATION_TOKEN=
BUNJANG_ACCESS_KEY=
BUNJANG_SECRET_KEY=
DJANGO_SECRET_KEY=
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=
DATABASE_URL=
DJANGO_ADMIN_USERNAME=
DJANGO_ADMIN_EMAIL=
DJANGO_ADMIN_PASSWORD=
